In [ ]:
#Q1  Write a code to reverse a string

In [3]:
def reverse_string(text):
  return text[::-1]

# Example usage
string = "WELCOME"
reversed_string = reverse_string(string)
print(reversed_string)  # Output: olleh

EMOCLEW

In [ ]:
#Q2   Write a code to count the number of vowels in a string

In [2]:
def count_vowels(text):
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in text:
    if char in vowels:
      vowel_count += 1
  return vowel_count

# Example usage
string = "Hello, World!"
num_vowels = count_vowels(string)
print(num_vowels)  # Output: 3

3

In [ ]:
#Q3 Write a code to check if a given string is a palindrome or not

In [4]:
def is_palindrome(text):
  text = text.lower()  # Ignore case
  return text == text[::-1]

# Example usage
string1 = "madam"
string2 = "hello"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")  # Output: True
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")  # Output: False

'madam' is a palindrome: True
'hello' is a palindrome: False

In [ ]:
#Q4 Write a code to check if two given strings are anagrams of each other

In [ ]:
def are_anagrams(str1, str2):
  str1 = str1.lower().replace(" ", "")
  str2 = str2.lower().replace(" ", "")
  return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
  print(f"'{string1}' and '{string2}' are anagrams.")
else:
  print(f"'{string1}' and '{string2}' are not anagrams.")

In [ ]:
#Q5 Write a code to find all occurrences of a given substring within another string

In [5]:
import re

def find_all_occurrences(text, substring):
  """Finds all occurrences of a substring within a string.

  Args:
    text: The string to search within.
    substring: The substring to search for.

  Returns:
    A list of the starting indices of all occurrences of the substring.
  """
  return [m.start() for m in re.finditer(f'(?={substring})', text)]

# Example usage
string = "This is a test string. Test it!"
substring = "test"
occurrences = find_all_occurrences(string, substring)
print(occurrences)  # Output: [10, 21]

[10]

In [ ]:
#Q6 Write a code to perform basic string compression using the counts of repeated characters

In [6]:
def compress_string(text):
  if not text:  # Handle empty string
    return ""

  compressed = ""
  count = 1
  for i in range(len(text) - 1):
    if text[i] == text[i + 1]:
      count += 1
    else:
      compressed += text[i] + str(count)
      count = 1

  # Add the last character and its count
  compressed += text[-1] + str(count)

  # Return compressed string only if it's shorter
  return compressed if len(compressed) < len(text) else text

# Example usage
string = "aabcccccaaa"
compressed_string = compress_string(string)
print(compressed_string)  # Output: a2b1c5a3

a2b1c5a3

In [ ]:
#Q7 Write a code to determine if a string has all unique characters

In [7]:
def has_unique_chars(text):
  return len(set(text)) == len(text)

# Example usage
string1 = "abcdefg"
string2 = "abacada"

print(f"'{string1}' has all unique characters: {has_unique_chars(string1)}")  # Output: True
print(f"'{string2}' has all unique characters: {has_unique_chars(string2)}")  # Output: False

'abcdefg' has all unique characters: True
'abacada' has all unique characters: False

In [ ]:
#Q8 Write a code to convert a given string to uppercase or lowercase

In [8]:
def has_all_unique_chars(text):
  return len(set(text)) == len(text)

# Example usage
string1 = "abcdefg"
string2 = "abacada"

print(f"'{string1}' has all unique characters: {has_all_unique_chars(string1)}")  # Output: True
print(f"'{string2}' has all unique characters: {has_all_unique_chars(string2)}")  # Output: False

'abcdefg' has all unique characters: True
'abacada' has all unique characters: False

In [ ]:
#Q9 Write a code to count the number of words in a string

In [9]:
def convert_case(text, to_case="upper"):
  """Converts a string to uppercase or lowercase.

  Args:
    text: The string to convert.
    to_case: The desired case, either "upper" or "lower".
              Defaults to "upper".

  Returns:
    The converted string.
  """
  if to_case == "upper":
    return text.upper()
  elif to_case == "lower":
    return text.lower()
  else:
    return text  # Return original if invalid case specified


# Example usage
string = "Hello, World!"
uppercase_string = convert_case(string, "upper")
lowercase_string = convert_case(string, "lower")

print(uppercase_string)  # Output: HELLO, WORLD!
print(lowercase_string)  # Output: hello, world!

HELLO, WORLD!
hello, world!

In [ ]:
#Q10 Write a code to concatenate two strings without using the + operator

In [10]:
def convert_case(text, to_case="upper"):
  """Converts a string to uppercase or lowercase.

  Args:
    text: The string to convert.
    to_case: "upper" for uppercase, "lower" for lowercase (default: "upper").

  Returns:
    The converted string.
  """
  if to_case == "upper":
    return text.upper()
  elif to_case == "lower":
    return text.lower()
  else:
    return text  # Return original if invalid to_case

# Example usage
string = "Hello, World!"
uppercase_string = convert_case(string, "upper")
lowercase_string = convert_case(string, "lower")

print(uppercase_string)  # Output: HELLO, WORLD!
print(lowercase_string)  # Output: hello, world!

HELLO, WORLD!
hello, world!

In [ ]:
#Q11 Write a code to remove all occurrences of a specific element from a list

In [11]:
import re

def count_words(text):
  """Counts the number of words in a string.

  Args:
    text: The string to analyze.

  Returns:
    The number of words in the string.
  """
  words = re.findall(r'\b\w+\b', text)  # Find all words
  return len(words)

# Example usage
string = "This is a test string."
word_count = count_words(string)
print(word_count)  # Output: 5

5

In [ ]:
#Q12 Implement a code to find the second largest number in a given list of integers

In [12]:
import re

def count_words(text):
  """Counts the number of words in a string.

  Args:
    text: The string to analyze.

  Returns:
    The number of words in the string.
  """
  words = re.findall(r'\b\w+\b', text)  # Find all words using regex
  return len(words)

# Example usage
string = "This is a test string with 5 words."
word_count = count_words(string)
print(word_count)  # Output: 8

8

In [ ]:
#Q13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [13]:
def concatenate_strings(str1, str2):
  """Concatenates two strings without using the '+' operator.

  Args:
    str1: The first string.
    str2: The second string.

  Returns:
    The concatenated string.
  """
  return "".join([str1, str2])

# Example usage
string1 = "Hello"
string2 = "World"
concatenated_string = concatenate_strings(string1, string2)
print(concatenated_string)  # Output: HelloWorld

HelloWorld

In [ ]:
#Q14 Write a code to reverse a list in-place without using any built-in reverse functions

In [14]:
def concatenate_strings(str1, str2):
  """Concatenates two strings without using the + operator.

  Args:
    str1: The first string.
    str2: The second string.

  Returns:
    The concatenated string.
  """
  return "".join([str1, str2])

# Example usage
string1 = "Hello"
string2 = "World"
concatenated_string = concatenate_strings(string1, string2)
print(concatenated_string)  # Output: HelloWorld

HelloWorld

In [ ]:
#Q15 Write a code to merge two sorted lists into a single sorted list

In [15]:
def remove_all_occurrences(lst, element):
  """Removes all occurrences of a specific element from a list.

  Args:
    lst: The list to modify.
    element: The element to remove.

  Returns:
    The modified list with the element removed.
  """
  return [x for x in lst if x != element]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print(new_list)  # Output: [1, 3, 4, 5]

[1, 3, 4, 5]

In [ ]:
#Q16 Implement a code to find the intersection of two given lists

In [16]:
def remove_all_occurrences(lst, element):
  """Removes all occurrences of a specific element from a list.

  Args:
    lst: The list to modify.
    element: The element to remove.

  Returns:
    The modified list with all occurrences of the element removed.
  """
  return [x for x in lst if x != element]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print(new_list)  # Output: [1, 3, 4, 5]

[1, 3, 4, 5]

In [ ]:
#Q17 Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [17]:
def reverse_list_in_place(lst):
  """Reverses a list in-place without using built-in reverse functions.

  Args:
    lst: The list to reverse.
  """
  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
#Q18 Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [18]:
def reverse_list_in_place(lst):
  """Reverses a list in-place without using built-in reverse functions.

  Args:
    lst: The list to reverse.
  """
  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
#Q19 Create a code to find the union of two lists without duplicates

In [19]:
def reverse_list_in_place(lst):
  """Reverses a list in-place without using built-in reverse functions.

  Args:
    lst: The list to reverse.
  """
  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
#Q20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [20]:
def merge_sorted_lists(list1, list2):
  """Merges two sorted lists into a single sorted list.

  Args:
    list1: The first sorted list.
    list2: The second sorted list.

  Returns:
    A new sorted list containing all elements from both input lists.
  """
  merged_list = []
  i = j = 0

  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1

  # Add any remaining elements from list1 or list2
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])

  return merged_list

# Example usage
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [21]:
#Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [25]:
def find_intersection(list1, list2):
  """Finds the intersection of two given lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing the common elements of both input lists.
  """
  return list(set(list1) & set(list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
intersection = find_intersection(list1, list2)
print(intersection)  # Output: [3, 5]

[3, 5]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Q22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
#intersection of these two sets

In [26]:
def find_intersection(list1, list2):
  """Finds the intersection of two lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing the common elements of both input lists.
  """
  intersection = []
  for element in list1:
    if element in list2 and element not in intersection:
      intersection.append(element)
  return intersection

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
intersection_list = find_intersection(list1, list2)
print(intersection_list)  # Output: [3, 5]

[3, 5]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Q23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
#tuple containing elements from both input tuples.

In [27]:
def common_elements_tuple(tuple1, tuple2):
  """Finds common elements between two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    A new tuple containing the common elements.
  """
  set1 = set(tuple1)
  set2 = set(tuple2)
  common_elements = set1.intersection(set2)
  return tuple(common_elements)

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 5, 6, 7, 8)
common_tuple = common_elements_tuple(tuple1, tuple2)
print(common_tuple)  # Output: (3, 5)

(3, 5)

[3, 5]

In [ ]:
#Q24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [28]:
def common_elements(tuple1, tuple2):
  """Finds common elements between two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    A new tuple containing the common elements.
  """
  return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 5, 6, 7, 8)
common_tuple = common_elements(tuple1, tuple2)
print(common_tuple)  # Output: (3, 5)

(3, 5)

In [ ]:
'''Q25 Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices
 '''

In [ ]:
def get_set_from_input():
  """Prompts the user to enter a set of integers and returns it."""
  while True:
    try:
      input_str = input("Enter a set of integers separated by commas: ")
      elements = [int(x.strip()) for x in input_str.split(',')]
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter integers separated by commas.")

# Get input from the user
set1 = get_set_from_input()
set2 = get_set_from_input()

# Calculate and print the intersection
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

In [ ]:
#Q26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
def get_set_from_input():
  """Prompts the user to enter a set of integers separated by commas.

  Returns:
    A set of integers.
  """
  while True:
    try:
      input_str = input("Enter a set of integers separated by commas: ")
      elements = [int(x.strip()) for x in input_str.split(",")]
      return set(elements)
    except ValueError:
      print("Invalid input. Please enter integers separated by commas.")

# Get input from the user for two sets
set1 = get_set_from_input()
set2 = get_set_from_input()

# Calculate and print the intersection
intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

In [ ]:
 #Q27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
def get_string_set_from_input():
  """Prompts the user to enter a set of strings and returns it as a set."""
  input_str = input("Enter a set of strings separated by commas: ")
  return set(input_str.split(','))

# Get input from the user
set1 = get_string_set_from_input()
set2 = get_string_set_from_input()

# Calculate and print the difference
difference = set1.difference(set2)  # or set1 - set2
print("Elements in the first set but not in the second set:", difference)

In [ ]:
#Q28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [ ]:
def get_set_from_input():
  """Prompts the user to enter a set of strings separated by commas.

  Returns:
    A set of strings.
  """
  input_str = input("Enter a set of strings separated by commas: ")
  elements = [x.strip() for x in input_str.split(',')]
  return set(elements)

# Get input from the user for two sets
set1 = get_set_from_input()
set2 = get_set_from_input()

# Calculate and print the difference
difference = set1.difference(set2)
print("Elements in the first set but not in the second set:", difference)

In [ ]:
#Q29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [ ]:
def get_sub_tuple(original_tuple, start_index, end_index):
  """Returns a sub-tuple within the specified range of indices.

  Args:
    original_tuple: The original tuple.
    start_index: The starting index (inclusive).
    end_index: The ending index (exclusive).

  Returns:
    A new tuple containing elements from the original tuple
    within the specified range of indices.
  """
  return original_tuple[start_index:end_index]

# Example usage
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = 2
end_index = 6
sub_tuple = get_sub_tuple(my_tuple, start_index, end_index)
print(sub_tuple)  # Output: (3, 4, 5, 6)

In [ ]:
#Q30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [ ]:
def get_sub_tuple(original_tuple, start_index, end_index):
  """Returns a sub-tuple within the specified range of indices.

  Args:
    original_tuple: The original tuple.
    start_index: The starting index (inclusive).
    end_index: The ending index (exclusive).

  Returns:
    A new tuple containing elements from the original tuple within the
    specified range of indices.
  """
  return original_tuple[start_index:end_index]

# Example usage
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = 2
end_index = 6
sub_tuple = get_sub_tuple(my_tuple, start_index, end_index)
print(sub_tuple)  # Output: (3, 4, 5, 6)

In [ ]:
def get_sub_tuple(original_tuple, start_index, end_index):
  """Returns a sub-tuple within the specified range of indices.

  Args:
    original_tuple: The original tuple.
    start_index: The starting index (inclusive).
    end_index: The ending index (exclusive).

  Returns:
    A new tuple containing elements from the original tuple within the
    specified range of indices.
  """
  return original_tuple[start_index:end_index]

# Example usage
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = 2
end_index = 6
sub_tuple = get_sub_tuple(my_tuple, start_index, end_index)
print(sub_tuple)  # Output: (3, 4, 5, 6)

In [ ]:
#Q31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
# and the values are the frequencies of those words in the input list

In [ ]:
def get_char_set_from_input():
    """Prompts the user to enter a set of characters and returns it as a set."""
    input_str = input("Enter a set of characters separated by commas: ")
    return set(input_str.replace(",", ""))  # Remove commas

# Get input from the user for two sets of characters
set1 = get_char_set_from_input()
set2 = get_char_set_from_input()

# Calculate and print the union
union = set1.union(set2)  # or set1 | set2
print("Union of the two sets of characters:", union)

In [ ]:
#Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
# common keys, the values should be added together

In [ ]:
def get_char_set_from_input():
    """Prompts the user to enter a set of characters and returns it as a set."""
    input_str = input("Enter a set of characters separated by commas: ")
    return set(input_str.replace(" ", "").split(','))

# Get input from the user
set1 = get_char_set_from_input()
set2 = get_char_set_from_input()

# Calculate and print the union
union = set1.union(set2)
print("Union of the two sets:", union)

In [ ]:
'''Q33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None'''

In [ ]:
def find_min_max(numbers):
  """Finds the minimum and maximum values in a tuple of integers.

  Args:
    numbers: A tuple of integers.

  Returns:
    A tuple containing the minimum and maximum values.
  """
  if not numbers:
    return None, None  # Handle empty tuple

  min_val, max_val = numbers[0], numbers[0]  # Initialize

  for num in numbers:
    min_val = min(min_val, num)
    max_val = max(max_val, num)

  return min_val, max_val

# Example usage
numbers = (10, 5, 20, 3, 15)
min_num, max_num = find_min_max(numbers)

print("Minimum:", min_num)  # Output: 3
print("Maximum:", max_num)  # Output: 20

In [ ]:
'''Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order'''

In [ ]:
def count_occurrences(input_tuple, element):
  """Counts the occurrences of an element in a tuple.

  Args:
    input_tuple: The tuple to search in.
    element: The element to count.

  Returns:
    The number of occurrences of the element in the tuple.
  """
  return input_tuple.count(element)

# Example usage
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2
occurrences = count_occurrences(my_tuple, element_to_count)
print(occurrences)  # Output: 3

In [ ]:
'''Q35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.'''

In [ ]:
def find_min_max(numbers):
  """Finds the minimum and maximum values in a tuple of integers.

  Args:
    numbers: A tuple of integers.

  Returns:
    A tuple containing the minimum and maximum values.
  """
  if not numbers:  # Handle empty tuple
    return None, None

  min_val, max_val = numbers[0], numbers[0]  # Initialize with first element

  for num in numbers:
    if num < min_val:
      min_val = num
    if num > max_val:
      max_val = num

  return min_val, max_val

# Example usage
numbers = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
min_num, max_num = find_min_max(numbers)

if min_num is not None and max_num is not None:
  print("Minimum:", min_num)  # Output: Minimum: 1
  print("Maximum:", max_num)  # Output: Maximum: 9
else:
  print("The tuple is empty.")